/.zig-cache/
/actions/setup/lib/
/actions/setup/node_modules/
/actions/download/lib/
/actions/download/node_modules/
/actions/install/lib/
/actions/install/node_modules/
/.cache/
/.tmp/
/.tools/
/zig-pkg/
/zig-out/
/out/
*.swp
*~
